header{
    position: relative;
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
    background:#F4F4F4;
    border-bottom: 1px solid #f0f0f0;
}
header #logo{
    background: rgba(214, 214, 214, 0.4);
    width: 60px;
    height: 60px;
    cursor: pointer;
    float: left;
    position: relative;
}
header #logo img{
    padding-left: 5px;
}
header #logo #point1{
    background: url(../image/point1.png) no-repeat;
    width: 8px;
    height: 8px;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    background: #212D39;
}


@keyframes point1Animation {
    0% {
        right: 10px;
    }
    30% {
        right: 9px;
    }
    50% {
        right: 8px;
    }
    70% {
        right: 9px;
    }
    100%{
        right: 10px;
    }
}
header #logo #point2{
    background: url(../image/point2.png) no-repeat;
    width: 4px;
    height: 4px;
    position: absolute;
    right: 22px;
    top: 22px;
    border-radius: 50%;
    background: #212D39;
    animation: point2Animation 1s infinite;
}
@keyframes point2Animation {
    0% {
        right: 22px;
        top: 22px;
    }
    10% {
        right: 17px;
    }
    20% {
        right: 12px;
        top: 23px;
    }
    30% {
        right: 7px;
    }
    40% {
        right: 3px;
        top: 24px;
    }
    50% {
        right: 7px;
    }
    60% {
        right: 12px;
        top: 23px;
    }
    70% {
        right: 16px;
    }
    80% {
        right: 18px;
        top: 22px;
    }
    90% {
        right: 20px;
    }

    100%{
        right: 22px;
        top: 22px;
    }
}
header #logo #point3{
    background: url(../image/point3.png) no-repeat;
    width: 5px;
    height: 6px;
    position: absolute;
    right: 3px;
    top: 24px;
    animation: point3Animation 1s infinite;
    border-radius: 50%;
    background: #212D39;
}
@keyframes point3Animation {
    0% {
        right: 3px;
        top: 24px;
    }
    10% {
        right: 7px;
    }
    20% {
        right: 12px;
        top: 23px;
    }
    30% {
        right: 17px;
    }
    40% {
        right: 22px;
        top: 22px;
    }
    50% {
        right: 20px;
    }
    60% {
        right: 18px;
        top: 23px;
    }
    70% {
        right: 16px;
    }
    80% {
        right: 12px;
        top: 24px;
    }
    90% {
        right: 7px;
    }

    100%{
        right: 3px;
        top: 24px;
    }
}
/**/
header #document-menu-bar{
    height: 60px;
    float: left;
}
/**/
header #document-menu{
}
header #document-menu ul{
    margin-left: 6px;
}
header #document-menu ul li{
    display: inline-block;
    font-size: 14px;
    font-family: 'Open Sans',serif;
    padding: 4px 5px;
    cursor: pointer;
    color: #7B7B7F;
    transition: all 0.3s ease 0s;
    position: relative;
    letter-spacing: 0.3px;
}
header #document-menu ul li ul{
    position: absolute;
    margin: 0px;
    background: #ececec;
    width: 300px;
    left: 0px;
    top: 27px;
    z-index: 9999;
    display: none;
}
header #document-menu ul li ul li{
    display: block;
    padding-left: 25px;
}
header #document-menu ul li ul .separator{
    height: 1px;
    background: #CFCFCF ;
    padding: 0px;
    margin: 5px 0;
}
header #document-menu ul li:hover{
    background: rgba(214, 214, 214, 0.4);
    color: rgba(37, 49, 63, 0.8);
    transition: all 0.3s ease 0s;
}
header #document-menu ul li:hover ul{
    display: block;
}
/**/
header #document-title{
    height: 33px;
    display: inline-block;
    margin-left: 10px;
    width: 300px;

}

header #document-title input{
font-size: 18px;
font-family: "Open Sans";
letter-spacing: 0.5px;
width: 100%;
color: #7B7B7F;
transition: all 0.3s ease 0s;
margin: 4px 0px 0px;
border-radius: 2px;
padding: 0 3px;
}
header #document-title input:hover{
    background: rgba(0,0,0,0.05);
    transition: all 0.3s ease;
}
header #document-title input:focus{
    background: rgba(0,0,0,0.05);
    transition: all 0.3s ease;
}
/**/